<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>weather app</title>
  </head>

  <body>
    <div class="main">

    {{>header}} 
    <p>Use this site to get your weather data</p>
    <form action="GET">
      <label for="location">Location :</label>
      <input type="text" placeholder="e.g London">
      <button type="submit" class='btn' >Search</button>
    </form>
    <img src="" class="img">
    <p class='weatherData'></p>
    <p class='weatherError'></p>
    </div>
    {{>footer}}
    <script src="js/index.js"></script>
  </body>

</html>